<p>tags-add-edit works!</p>

<loading *ngIf="isLoading"></loading>

<div *ngIf="!isLoading"
    class="min-h-min w-full md:w-4/5 lg:w-1/2 mb-5 p-6 rounded shadow shadow-slate-400 bg-white">
    <div class="mb-10 text-2xl font-bold">
        <div *ngIf="!isEditMode">Add tag</div>
        <div *ngIf="isEditMode">Edit tag</div>
    </div>

    <form [formGroup]="tagForm" (ngSubmit)="onSubmit()">
        <div class="font-bold text-lg mb-2">
            <label for="tag">Tag</label>
        </div>
        <input formControlName="tag"
            type="text"
            class="mb-1 w-full appearance-none block bg-slate-200 text-slate-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-slate-500"
            [class.not-valid]="!tagForm.controls['tag'].valid && isEditMode"
            id="tag"
            placeholder="eg. Gastos de construcción"
            aria-describedby="tagHelp">
        <div id="tagHelp" class="mb-3 text-sm text-slate-600">
            <span [class.has-errors]="tagForm.controls['tag'].hasError('required') && isEditMode">* The field is required.</span><br>
            <span [class.has-errors]="tagForm.controls['tag'].hasError('minlength') && isEditMode">* Minimum length 6 characters.</span><br>
            Make sure you don't add a tag that already exists.
        </div>

        <div class="font-bold text-lg mb-2">
            <label for="parentTag">Parent Tag</label>
        </div>
        <select formControlName="parentTag"
            class="mb-1 w-full block bg-slate-200 text-slate-700 border rounded py-3 px-3 leading-tight focus:outline-none focus:bg-white focus:border-slate-500"
            [class.not-valid]="!tagForm.controls['parentTag'].valid && isEditMode"
            id="parentTag"
            aria-describedby="parentTagHelp"
            >
            <option [ngValue]=null>Without parent Tag</option>
            <option *ngFor="let tag of parentTagList" [ngValue]="tag">{{tag.tag}}</option>
        </select>
        <div id="parentTagHelp" class="mb-3 text-sm text-slate-600">
            <span>* The field is optional.</span>
        </div>


        <div *ngIf="isEditMode">
            <div class="font-bold text-lg mb-2">
                <label for="status">Status</label>
            </div>
            <label class="relative inline-block w-16 h-8">
                <input formControlName="enabled" type="checkbox" class="opacity-0 w-0 h-0">
                <span class="slider"></span>
                <div class="absolute top-1 left-20 cursor-pointer">
                    <span *ngIf="tagForm.value.enabled">ENABLED</span>
                    <span *ngIf="!tagForm.value.enabled">DISABLED</span>
                </div>
            </label>            
        </div>

        <button 
            type="submit"
            [disabled]="!tagForm.valid || tagForm.pristine"
            class="py-3 px-4 mt-7 w-full text-center text-lg cursor-pointer bg-slate-300 rounded shadow shadow-slate-400">
            <i class="fas fa-save mr-2"></i>Save tag
        </button>
    </form>
</div>