<div class="flex p-6 items-center text-slate-600">
    <div class="grow text-2xl">Dashboard</div>
    <div>
        <nav>
            <ol class="flex">
                <li>
                    <a href="#">
                        <i class="fas fa-home mr-2"></i>
                        Home
                    </a>
                </li>
                <li>
                    <i class="fas fa-angle-right mx-2"></i>
                    <a href="#">Settings</a>
                </li>
                <li>
                    <i class="fas fa-angle-right mx-2"></i>
                    Banks
                </li>
            </ol>
        </nav>
    </div>
</div>