<toast></toast>
<div class="">
    <div class="fixed">
        <app-navigation></app-navigation>
    </div>
    <div class="h-full _content-position">
        <div class="fixed w-full">
            <app-topbar></app-topbar>
        </div>
        <main class="_main-height w-full bg-slate-300">
            <app-breadcrumb></app-breadcrumb>
            <div class="mx-8">
                <router-outlet></router-outlet>
            </div>
            <div class="mx-8 w-64">
                <app-card></app-card>
            </div>
        </main>
    </div>
</div>
