<nav class="min-h-screen text-slate-300 p-3">
    <div class="_brand mb-7">
        <div class="flex flex-row">
            <div class="grow">
                <h1 class="font-bold text-2xl">
                    <i class="fas fa-chart-line mr-1.5 text-cyan-500"></i>
                    FINANCE APP
                </h1>
            </div>
            <div class="grow-0 text-2xl">
                <span><i class="fas fa-bars"></i></span>
            </div>
        </div>

    </div>
    <div class="nav ml-5 text-lg">
        <ul>
            <li>
                <a href="#">
                    <span><i class="fas fa-home"></i></span>
                    <span>Dashboard</span>                    
                </a>
            </li>
            <li>
                <a [routerLink]="['accounts']">
                    <span><i class="fas fa-cubes"></i></span>
                    <span>Accounts</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fas fa-calendar-alt"></i></span>
                    <span>Calendar</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fas fa-cog"></i></span>
                    <span>Settings</span>
                </a>
                <div class="text-base">
                    <ul>
                        <li>
                            <a [routerLink]="['settings/banks']">
                                <span>Banks</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['settings/accounts']">
                                <span>Accounts</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['settings/categories']">
                                <span>Categories</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['settings/currencies']">
                                <span>Currencies</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['settings/payees']">
                                <span>Payees</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['settings/tags']">
                                <span>Tags</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
